.embla {
   max-height: 48rem;
   margin: auto;
   --slide-height: 19rem; /* Height for main slides */
   --slide-spacing: 1rem; /* Spacing between main slides */
   --slide-size: 100%; /* Full width for main slides */
}

.embla-thumbs {
   --thumbs-slide-spacing: 0.8rem; /* Spacing between thumbnail slides */
   --thumbs-slide-height: 16rem; /* Height for thumbnails */
   margin-top: var(--thumbs-slide-spacing); /* Top margin for thumbs */
}

.embla-thumbs__viewport {
   overflow: hidden;
   /* Hide overflowing content */
   height: var(--thumbs-slide-height);
   /* Set height based on thumbnail height */
   scroll-behavior: smooth;
}

.embla-thumbs__container {
   display: flex;
   /* Enable horizontal layout */
   flex-direction: row;
   /* Horizontal arrangement of thumbnails */
   margin-left: calc(var(--thumbs-slide-spacing) * -1); /* Offset for spacing */
}

.embla-thumbs__slide {
   flex: 0 0 22%; /* Set width for each thumbnail slide (adjust as needed) */
   min-width: 0; /* Prevent overflow */
   padding-left: var(--thumbs-slide-spacing); /* Space between slides */
}

/* Adjust width for larger screens */
@media (min-width: 576px) {
   .embla-thumbs__slide {
      flex: 0 0 15%;
   }
}

.embla-thumbs__slide__number {
   border-radius: 1.8rem;
   -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
   -webkit-appearance: none;
   appearance: none;
   background-color: transparent;
   touch-action: manipulation;
   display: inline-flex;
   text-decoration: none;
   cursor: pointer;
   border: 0;
   padding: 0;
   margin: 0;
   box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
   font-size: 1.8rem;
   font-weight: 600;
   color: var(--detail-high-contrast);
   display: flex;
   align-items: center;
   justify-content: center;
   height: var(--thumbs-slide-height);
   width: 100%; /* Full width for thumbnail slides */
}

.embla-thumbs__slide--selected .embla-thumbs__slide__number {
   color: var(--text-body); /* Change color for selected slide */
}
