.otp-input-container div {
   gap: 7px;
}
@media screen and (max-width: 769px) {
   .otp-input-container div {
      gap: 25px;
   }
}
@media screen and (max-width: 640px) {
   .otp-input-container div {
      gap: 15px;
   }
}
@media screen and (max-width: 425px) {
   .otp-input-container div {
      gap: 7px;
   }
}
.otp-input-container div input {
   border-radius: 10px;
   width: 100% !important;
   height: 48px;
   position: relative;
   box-shadow:
      inset -1px -1px 2px 0px rgba(101, 101, 101, 0.1),
      inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(10px);
   border: none;
}
