.chat-messages {
   flex: 1;
   padding: 10px;
   /* overflow-y: auto; */
   display: flex;
   flex-direction: column;
   gap: 8px;
   width: 100%;
}

/* Message Styles */
.message {
   max-width: 70%;
   padding: 10px;
   border-radius: 10px;
   font-size: 0.9rem;
   word-wrap: break-word;
}

.incoming {
   align-self: flex-start;
   background-color: #98b0ee;
   /* extrapart */
   margin-top: 0.25rem;
   color: #ffffff;
   text-wrap: balance;
   font-family: "Arial-Regular", sans-serif;
   font-size: 0.875rem /* 14px */;
   line-height: 1.25rem /* 20px */;
   font-weight: 400;
   border-top-right-radius: 14px;
   border-top-left-radius: 14px;
   border-bottom-right-radius: 14px;
   border-bottom-left-radius: 0 !important;
   padding-left: 1.1rem /* 17.6px */;
   padding-right: 1.1rem /* 17.6px */;
   padding-top: 0.5rem /* 8px */;
   padding-bottom: 0.5rem /* 8px */;
   overflow-wrap: break-word;
   white-space: normal;
   --tw-shadow: var(--admin-chat-right-box-shadow);
   --tw-shadow-colored: var(--admin-chat-right-box-shadow);
   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outgoing {
   align-self: flex-end;
   background-color: #ffffff;
   /* extrapart */
   color: #515151;
   text-wrap: wrap;
   text-align: left;
   font-family: "Arial-Regular", sans-serif;
   font-size: 0.875rem /* 14px */;
   line-height: 1.25rem /* 20px */;
   font-weight: 400;
   border-top-left-radius: 14px;
   border-top-right-radius: 14px;
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 0 !important;
   padding-left: 1.1rem /* 17.6px */;
   padding-right: 1.1rem /* 17.6px */;
   padding-top: 0.5rem /* 8px */;
   padding-bottom: 0.5rem /* 8px */;
   overflow-wrap: break-word;
   white-space: normal;
   --tw-shadow: var(--admin-chat-right-box-shadow);
   --tw-shadow-colored: var(--admin-chat-right-box-shadow);
   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
