.hero-card-slider {
   position: relative !important;
}
.hero-card-slider .hero-card-swiper-button-prev,
.hero-card-slider .hero-card-swiper-button-next {
   position: absolute;
   top: 50% !important;
   /* margin-top: calc(0px - (var(--swiper-navigation-size) / 2)); */
   transform: translateY(-50%) !important;
   z-index: 10;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(
      180deg,
      rgba(66, 133, 244, 1) 0%,
      rgba(85, 118, 179, 1) 100%
   );
   border-radius: 50%;
   width: 50px;
   height: 50px;
   box-shadow:
      0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero-card-slider .hero-card-swiper-button-prev.swiper-button-disabled,
.hero-card-slider .hero-card-swiper-button-next.swiper-button-disabled {
   opacity: 0.5;
   cursor: auto;
   pointer-events: none;
}
.hero-card-slider .hero-card-swiper-button-prev {
   left: -19px;
}
.hero-card-slider .hero-card-swiper-button-next {
   right: -19px;
}
@media screen and (max-width: 1024px) {
   .hero-card-slider .hero-card-swiper-button-prev {
      left: -19px !important;
   }
   .hero-card-slider .hero-card-swiper-button-next {
      right: -19px !important;
   }
}
.hero-card-slider .hero-card-swiper-button-prev,
.hero-card-slider .hero-card-swiper-button-next {
   display: none;
}
@media screen and (max-width: 1280px) {
   .hero-card-slider .hero-card-swiper-button-prev,
   .hero-card-slider .hero-card-swiper-button-next {
      display: flex;
   }
}
.hero-card-slider .swiper-button-prev::after,
.hero-card-slider .swiper-button-next::after {
   display: none;
}
