.hero-banner-slider .swiper .swiper-pagination {
   position: absolute;
   bottom: 2rem;
   left: 50%;
   transform: translateX(-50%);
}

@media screen and (min-width: 725px) {
   .hero-banner-slider {
      width: 100%;
      height: 330px;
      /* background-color: aquamarine; */
      display: flex;
      justify-content: start;
      margin: 0 auto;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .hero-banner-slider .swiper {
      position: relative;
   }

   /* only slider not active, prev and next slider start */
   .hero-banner-slider .swiper-slide {
      width: 197px !important;
      height: 100% !important;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
   }

   .hero-banner-slider .swiper-slide > div {
      width: 100%;
      height: 225px;
   }
   .hero-banner-slider .swiper-slide > div > div {
      padding-left: 2rem;
      padding-right: 2rem;
      border-width: 3px;
      width: 100%;
      height: 100%;
      border-radius: 36px;
      display: flex;
      justify-content: center;
      background: linear-gradient(
         180deg,
         rgba(255, 255, 255, 1) 0%,
         rgba(194, 199, 240, 1) 100%
      );
      box-shadow:
         -2px -2px 10px 0px rgba(101, 101, 101, 0.35),
         2px 2px 10px 0px rgba(0, 0, 0, 0.25);
      border-color: rgba(255, 255, 255, 0.4);
   }
   .hero-banner-slider .swiper-slide > div > div > div {
      align-self: center;
   }
   .hero-banner-slider .swiper-slide > div > div > div > img {
      display: block;
      width: 197px;
      height: auto;
      object-fit: cover;
   }
   /* only slider not active, prev and next slider end */
   /* prev slider work start */

   .hero-banner-slider .swiper-slide.swiper-slide-prev > div {
      display: flex;
      align-items: center;
      perspective: 1000px;
      width: auto !important;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-prev > div > div {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 261px;
      overflow: visible;
      transform: rotateY(-51deg);
   }
   .hero-banner-slider .swiper-slide.swiper-slide-prev > div > div > div {
      width: 130.82px;
      height: 117.82px;
      align-self: center;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-prev > div > div > div > img {
      width: 100%;
      height: 100%;
   }
   /* prev slider work end */

   /* next slider work start */
   .hero-banner-slider .swiper-slide.swiper-slide-next > div {
      display: flex;
      align-items: center;
      perspective: 1000px;
      width: auto !important;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-next > div > div {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 261px;
      overflow: visible;
      transform: rotateY(51deg);
   }
   .hero-banner-slider .swiper-slide.swiper-slide-next > div > div > div {
      width: 130.82px;
      height: 117.82px;
      align-self: center;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-next > div > div > div > img {
      width: 100%;
      height: 100%;
   }
   /* next slider work end */

   /* active slider work start */
   .hero-banner-slider .swiper-slide.swiper-slide-active {
      width: 277px !important;
      padding: 0.5rem;
      height: 100%;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-active > div {
      width: 100% !important;
      height: 100% !important;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-active > div > div {
      width: 100% !important;
      height: 100% !important;
      display: flex;
      justify-content: center;
      padding: 0;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-active > div > div > div {
      align-self: center;
   }
   .hero-banner-slider
      .swiper-slide.swiper-slide-active
      > div
      > div
      > div
      > img {
      height: 160px;
      width: 176px;
   }
   /* active slider work end */
   .hero-banner-slider .swiper-slide.swiper-slide-prev,
   .hero-banner-slider .swiper-slide.swiper-slide-next {
      width: 157px !important;
   }
}

@media screen and (max-width: 1280px) and (min-width: 725px) {
   .hero-banner-slider {
      top: 3rem;
      left: 50%;
      transform: translate(-50%, 0);
   }
}
@media screen and (max-width: 725px) {
   .hero-banner-slider {
      width: 365px;
      margin: 0 auto;
   }
   .hero-banner-slider .swiper-slide {
      /* background-color: aquamarine; */
      height: 15em;
      padding: 0.65rem;
      width: auto !important;
   }
   .hero-banner-slider .swiper-slide > div {
      height: 100% !important;
      width: 100% !important;
   }
   .hero-banner-slider .swiper-slide > div > div {
      padding-left: 2rem;
      padding-right: 2rem;
      border-width: 3px;
      width: 100% !important;
      height: 100% !important;
      border-radius: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
         180deg,
         rgba(255, 255, 255, 1) 0%,
         rgba(194, 199, 240, 1) 100%
      );
      box-shadow:
         -2px -2px 10px 0px rgba(101, 101, 101, 0.35),
         2px 2px 10px 0px rgba(0, 0, 0, 0.25);
      border-color: rgba(255, 255, 255, 0.4);
   }
   .hero-banner-slider .swiper-slide > div > div > div > img {
      width: 105px;
      height: 105px;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-next > div > div {
      transform: rotateY(0);
      height: 100%;
   }
   .hero-banner-slider .swiper-slide.swiper-slide-prev > div > div {
      transform: rotateY(0);
      height: 100%;
   }
}
@media screen and (max-width: 475px) {
   .hero-banner-slider {
      width: 100%;
   }
}
@media screen and (max-width: 425px) {
   .hero-banner-slider {
      width: 100%;
   }
}
@media screen and (max-width: 375px) {
   .hero-banner-slider {
      width: 100%;
   }
}
@media screen and (max-width: 320px) {
   .hero-banner-slider {
      width: 100%;
   }
}
