/* TagsInputStyles.css */
.ReactTags__tags {
   display: flex;
   flex-wrap: wrap;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.ReactTags__selected {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}

.ReactTags__tag {
   background-color: #4285f4;
   color: white;
   border-radius: 10px;
   padding: 5px 10px;
   margin: 5px;
}

.ReactTags__remove {
   cursor: pointer;
   margin-left: 5px !important;
}

.ReactTags__input {
   border: none;
   outline: none;
   flex: 1;
   margin: 5px;
   width: 100% !important;
}
.ReactTags__tagInputField {
   width: 100% !important;
}
