.relared-product-slider {
   position: relative !important;
}
.relared-product-slider :is(.button-atrrangment) {
   position: absolute !important;
   top: -1.5rem;
   left: 93.5%;
   transform: translateX(-50%);
}
@media screen and (max-width: 1024px) {
   .relared-product-slider :is(.button-atrrangment) {
      left: 90.5%;
   }
}
@media screen and (max-width: 768px) {
   .relared-product-slider :is(.button-atrrangment) {
      left: 87.5%;
   }
}
@media screen and (max-width: 525px) {
   .relared-product-slider :is(.button-atrrangment) {
      top: 25px !important;
      left: 50% !important;
      transform: translateX(-50%);
   }
}
.relared-product-slider .button-atrrangment :is(.button-swiper) {
   display: flex;
}
/* .sale-by-cities-slider .swiper-button-prev, */
.relared-product-slider .button-atrrangment :is(.swiper-button-next),
.relared-product-slider .button-atrrangment :is(.swiper-button-prev) {
   border-radius: 50%;
   border-style: solid;
   border-color: #4285f4;
   border-width: 1px;
   width: 38px;
   height: 38px;
   position: relative;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   color: #4285f4;
   font-size: 23px;
}
.relared-product-slider .button-atrrangment :is(.swiper-button-next):hover,
.relared-product-slider .button-atrrangment :is(.swiper-button-prev):hover {
   background-color: #4285f4;
   color: white;
}
/*.swiper-button-prev {
  margin-right: 50px;
}*/
.relared-product-slider .swiper-button-next::after,
.relared-product-slider .swiper-button-prev::after {
   display: none;
}
